header {
  padding: 1em 0;
}

header > h1 {
  font-size: 3em;
}

.App {
  padding: 1em;
  max-width: 960px;
  width: 80vw;
  margin: auto;
  color: #515151;
}

.post-list {
  padding: 0;
}

.post-item {
  list-style: none;
  margin: 0;
  margin-bottom: 1.25em;
  overflow: hidden;
}

.post-item-title {
  color: #ca0a37;
  font-size: 1.25em;
  text-decoration: none;
}

.post-item-title:hover {
  color: #ed4c5e;
}

.post-item-meta {
  color: #9f9f9f;
  margin-top: 0.5em;
}

.post-item-ups {
  margin-right: 1em;
}

.teal {
  color: #19a896;
}

.pink {
  color: #ed4c5e;
}

.red {
  color: #e40b21;
}

.orange {
  color: #fc9e28;
}

.search-bar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  margin-bottom: 0.75em;
  border: none;
  font-size: 1.25em;
  padding: 0.5em;
  outline: none;
}

.search-bar:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
